    <!doctype html>
    <html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Escarlarte</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/adminpages/cadastroColaborador.css}">
        <link rel="shortcut icon" th:href="@{/img/logoEscalarte.ico}" type="image/x-icon">
    </head>
    <body>
    <div class="sidebar">
        <div class="logo">
            <img src="/img/logo.png" alt="Logo" />
            <span>Escalarte</span>
        </div>
        <ul class="menu">
            <li><a href="/operador/dashboard"><i data-lucide="layout-dashboard"></i>Dashboard</a></li>
            <li><a href="/operador/escala"><i data-lucide="calendar"></i>Minha Escala</a></li>
            <li><a href="/operador/minhaconta"><i data-lucide="user-cog"></i> Minha Conta</a></li>
            <li class="logout"><a th:href="@{/logout}"><i data-lucide="log-out"></i> Sair da Conta</a></li>

        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
                <h2 class="text-center mb-5">Solicitar Alteração</h2>

                <form method="POST" th:action="@{/solicitacao/alteracao}"  th:object="${solicitacaoDto}">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Data da Solicitação</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="date" th:field="*{dataSolicitacao}" th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('dataSolicitacao')}" th:errors="*{dataSolicitacao}"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Descrição</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" th:field="*{descricaoSolicitacao}" th:errorclass="is-invalid"></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('descricaoSolicitacao')}" th:errors="*{descricaoSolicitacao}"></div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="offset-sm-4 col-sm-4 d-grid">
                            <button type="submit" class="btn btn-primary">Solicitar</button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <a class="btn btn-outline-primary" th:href="@{/operador/escala}" role="button">Cancelar</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<script>
    lucide.createIcons();
</script>
</body>
</html>