/* escala.css */

body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  margin: 0;
  background-color: #f9fbfc;
}

.sidebar {
  width: 240px;
  background-color: white;
  border-right: 1px solid #eee;
  padding: 24px 16px;
  min-height: 100vh;
  box-sizing: border-box;
}

.menu li.logout {
  background-color: #ef5350;
  color: white;
  border-radius: 8px;
}

.menu li.logout a {
  color: white;
}


.menu li.logout:hover {
  background-color: #c62828;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logo img {
  height: 36px;
  margin-right: 10px;
}

.logo span {
  font-weight: 700;
  font-size: 22px;
  color: #ef5350;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li a {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 15px;
  color: #444;
  margin-bottom: 8px;
  transition: 0.3s;
  text-decoration: none;
}

.menu li a:hover,
.menu li a.active {
  background-color: #ef5350;
  color: white;
}

.menu li a svg {
  margin-right: 10px;
}

.main {
  flex: 1;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-title {
  font-size: 24px;
  font-weight: 700;
}

.user-initials {
  background-color: #f1f3f4;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #444;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.badge-turno {
  background-color: #e0e7ff;
  color: #1e40af;
  font-size: 0.75rem;
  padding: 6px 12px;
  border-radius: 8px;
}

.dropdown-toggle,
.btn-outline-secondary {
  border-radius: 10px;
}

.btn-red {
  background-color: #ef5350;
  color: white;
  border-radius: 10px;
}

.btn-red:hover {
    background-color: #c62828 !important;
    border-color: #c62828 !important;
    color: white !important;
}